/****************************************************/
/********************* CSS reset ********************/
/****************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove all the default styling */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    height: 100vh;
    
}

input,
textarea,
button,
select {
    font: inherit;
}

/****************************************************/
/********************** end *************************/
/****************************************************/

:root {
    --very-dark-navy: #121725;
    --medium-grey-navy: #2C344B;
    --light-grey-blue: #5A668A;
    --light-grey: #C2CBE5;
    --lightest: #FFFFFF;
    --green-contrast: #54E6AF;
    --button-active: #B3FFE2;
    --error: #FB3E3E;
    --ff--main: 'Chivo', sans-serif;
    --fs--title: 26px;
    --fs--title-m: 48px;
    --fs--title-l: 52px;
    --fs--text: 15px;
    --fs--text-m: 18px;
    --lh--title: 38px; /* 146.154% */
    --lh--title-m: 56px; /* 116.667% */
    --lh--title-l: 62px; /* 119.231% */
    --lh--text: 25px; /* 166.667% */
    --lh--text-m: 28px; /* 155.556% */
}

/* mobile styles */
body {
    display: grid;
    place-items: center;
}
@media screen and (max-width: 768px) {
    html {
        background-blend-mode: multiply;
        background: linear-gradient(rgba(84, 230, 175, 0.45),
                rgba(84, 230, 175, 0.45));
        background-color: rgba(18, 23, 37, 0.9);
        background-image: url(./assets/mobile/image-host.jpg);
        background-repeat: no-repeat;
        background-size: cover;
 
    }

    /* hide the fallback image on mobile */
    #background-img {
        display: none;
    }
}

#logo {
    display: block;
    margin: 0 auto 3.87rem auto;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--ff--main);
    font-weight: 400;
    color: var(--green-contrast);
    font-size: var(--fs--title);
    line-height: var(--lh--title);
    text-transform: uppercase;
    & span {
        color: var(--lightest);
    }
    @media (min-width: 768px) {
        font-size: var(--fs--title-m);
        line-height: var(--lh--title-m);
    }
    @media (min-width: 1440px) {
        font-size: var(--fs--title-l);
        line-height: var(--lh--title-l);
    }
}

.text {
    font-family: var(--ff--main);
    color: var(--light-grey);
    font-size: var(--fs--text);
    line-height: var(--lh--text);
    margin-top: 16px;
    @media (min-width: 768px) {
        font-size: var(--fs--text-m);
        line-height: var(--lh--text-m);
        width: 70%;
        margin-top: 31px;
        margin-bottom: 40px;
    }
    @media (min-width: 1440px) {
        font-size: var(--fs--text-l);
        line-height: var(--lh--text-l);
    }
}

.container {
    padding-inline: 1.5rem;
    text-align: center;
}

.podcasts-logos {
    margin-top: 2.0625rem;
    margin-bottom: 3rem;
}

.podcasts-logos img {
    display: inline-block;
    height: 100%;
    max-height: 17px;
    @media (min-width: 768px) {
        max-height: 29px;
    }
}

input,
button {
    width: 100%;
    height: 2.875rem;
    border-radius: 999px;
    font-family: 'Chivo', sans-serif;
    font-size: 0.875rem;
    line-height: 1.175rem;
    border: none;
}

input {
    /* background-color: var(--light-grey-navy); */
    background-color: var(--medium-grey-navy);
    padding-left: 2rem;
    color: var(--lightest);
}

input:focus {
    background-color: var(--medium-grey-navy);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--lightest);
    opacity: 0.5;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--lightest);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--lightest);
}

.button {
    background-color: var(--green-contrast);
    margin-top: 1rem;
    color: var(--very-dark-navy);
}

/* add dropshadow effects to active button */
.button:hover,
.button:active {
    background-color: var(--button-active);
    font-weight: bold;
    cursor: pointer;
}

.error {
    font-family: 'Chivo', sans-serif;
    font-size: 0.75rem;
    color: var(--error);
    display: block;
    padding: 0.75rem 2rem;
    text-align: left;
}

.bg-dots {
    display: none;
}
/* tablet styles */
 @media screen and (min-width: 768px) { 
    body {
        background-color: var(--very-dark-navy);
    }

    #logo {
        margin-top: 50px;
    }
    .desktop-bg {
        display: flex;
        align-items: stretch;
        align-content: space-between;
    }

    header {
        flex: 1 1 36%;
        margin-left: 2.5rem;
        margin-right: 6.3rem;
    }

    picture {
        flex: 3 1 auto;
    }

    .tablet-container {
        position: relative;

    }

    .container {
        position: absolute;
        bottom: 0;
        background-color: var(--very-dark-navy);
        padding-inline: 0;
        padding-top: 93px;
        margin-left: 39px;
        z-index: 1;
        width: 83%;
        max-width: 635px;
    }
   
    .description {
        text-align: left;
    }

    .layout-change {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .form__container {
        position: relative;
        max-width: 427px;
    }
    #email {
        height: 56px;
    }
     .button {
        max-width: 162px;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 5px;
        margin-top: 0;
    }
    .podcasts-logos {
        margin-bottom: 0;
        margin-top: 64px;
        width: 85%;
        max-width: 535px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bg-dots {
        display: block;
        margin-top: 153px;
        margin-left: 30px;
        margin-right: auto;
    }
} 

/* desktop styles */
@media (min-width: 1440px) {
    .container {
        padding-top: 88px;
        max-width: 723px;
        margin-left: 0;
    }

    .tablet-container {
        width: 100%;
        padding-left: 165px;
        position: absolute;
    }
    .tablet-container::after {
        content: url(./assets/desktop/bg-dots.svg);
        display: block;
        position: absolute;
        right: 0;
        bottom: -8%;
    }

    header {
        margin: 0;
    }
    #logo {
        margin: 0;
        margin-top: -29px;
    }

    .bg-dots {
        display: none;
    }
}