/****************************************************/
/********************* CSS reset ********************/
/****************************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove all the default styling */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    border: 1px red solid;
}

/* follow the color scheme the user is using 
html {
    color-scheme: dark light;
} */

body {
    min-height: 100vh;
}

/* forms fields and other elements inherit the font properties */
input,
textarea,
button,
select {
    font: inherit;
}

/****************************************************/
/********************** end *************************/
/****************************************************/

:root {
    --very-dark-navy: #121725;
    --medium-grey-navy: #2C344B;
    --light-grey-blue: #5A668A;
    --light-grey: #C2CBE5;
    --lightest: #FFFFFF;
    --green-contrast: #54E6AF;
    --button-active: #B3FFE2;
    --error: #FB3E3E;
}

/* mobile styles */
/*
html {
    background-blend-mode: multiply;
    background: linear-gradient(
        rgba(84,230,175, 0.45),
        rgba(84,230,175, 0.45)
    );
    background-color: rgba(18, 23, 37, 0.9);
    background-image: url(./assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
} */

@media screen and (max-width: 480px) {
    html {
        background-blend-mode: multiply;
        background: linear-gradient(rgba(84, 230, 175, 0.45),
                rgba(84, 230, 175, 0.45));
        background-color: rgba(18, 23, 37, 0.9);
        background-image: url(./assets/mobile/image-host.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* hide the fallback image on mobile */
    #background-img {
        display: none;
    }
}

#logo {
    display: block;
    margin: 3.87rem auto;
}

main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Chivo', sans-serif;
    font-weight: 400;
    color: var(--green-contrast);
    font-size: 1.6875rem;
    line-height: 2.375rem;
    text-transform: uppercase;
}

h1>span {
    color: var(--lightest);
}

p {
    font-family: 'Chivo', sans-serif;
    color: var(--light-grey);
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    margin-top: 1rem;
}

.container {
    padding: 0 1.5rem;
    text-align: center;
}

.podcasts-logos {
    margin-top: 2.0625rem;
    margin-bottom: 3rem;
}

.podcasts-logos img {
    display: inline-block;
    height: 1.0625rem;
}

input,
button {
    width: 100%;
    height: 2.875rem;
    border-radius: 999px;
    font-family: 'Chivo', sans-serif;
    font-size: 0.875rem;
    line-height: 1.175rem;
    border: none;
}

input {
    background-color: var(--light-grey-blue);
    padding-left: 2rem;
    color: var(--lightest);
}

input:focus {
    background-color: var(--medium-grey-navy);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--lightest);
    opacity: 0.5;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--lightest);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--lightest);
}

button {
    background-color: var(--green-contrast);
    margin-top: 1rem;
    color: var(--very-dark-navy);
}

/* add dropshadow effects to active button */
button:hover,
button:active {
    background-color: var(--button-active);
    font-weight: bold;
    cursor: pointer;
}

.error {
    font-family: 'Chivo', sans-serif;
    font-size: 0.75rem;
    color: var(--error);
    display: block;
    padding: 0.75rem 2rem;
    text-align: left;
}


/* tablet styles */
@media screen and (min-width: 480px) /*and (max-width: 1023px) */ {
    /* hide the backround image */

    body {
        background-color: var(--very-dark-navy);
        
    }

    .desktop-bg {
        display: flex;
        align-items: stretch;
        align-content: space-between;
    }

    header {
        flex: 1 1 36%;
        margin-left: 2.5rem;
        margin-right: 6.3rem;
    }

    picture {
        flex: 3 1 auto;
    }

   

    .container {
        position: absolute;
        top: 45vh;
        background-color: var(--very-dark-navy);
        width: 83%;
        padding-left: 3.5rem;
        
    }
    .description {
        text-align: left;
        
    }

    .layout-change {
        max-width: 400px;
        display: flex;
        flex-direction: column-reverse;
    }
}